.breadcrumbs {
  display: flex;
  gap: 38px;
}

.breadcrumbs__link {
  font-size: 16px;
  line-height: 130%;
  font-weight: 700;
  color: var(--dark-grey, #525252);
  transition: color .2s ease;
  position: relative;
}

.breadcrumbs__link:hover {
  color: var(--black, #2d2d2d);
}

.breadcrumbs__link:not(:last-child)::after {
  content: '';
  width: 18px;
  height: 18px;
  bottom: 0;
  right: -28px;
  background: url('./../assets/style/breadcrumbs/img/breadcrumbs_arrow.svg') center no-repeat;
  cursor: default;
  position: absolute;
}